<%= form_tag login_path, :class => 'form-signin' do %>
  <h1 class="alert alert-dark text-center" >Log In</h1>

  <% if flash[:error] %>
    <div class="alert alert-danger text-center">
      <%= flash[:error]%>
    </div>
  <% end %>
    <%= label_tag :email,nil, :class => "sr-only" %>
    <%= email_field_tag :email, nil,:class=>'form-control', :placeholder => 'Email address'%>
    <%= label_tag :password,nil, :class => "sr-only"   %>
    <%= password_field_tag :password, nil , :class=>'form-control', :placeholder => 'Password' %>

  <%= submit_tag "Log In", :class => 'btn btn-lg btn-primary btn-block'%>
<% end %>
