<h1><%= @busniess.name %></h1>
<%= flash[:add_admin_result] %>

<%= form_tag busniess_invite_path(@busniess.id) do %>
  <%= label_tag :email  %>
  <%= email_field_tag :email %>

  <%= submit_tag "Invite" %>
<% end %>
<%= link_to 'Back', busniess_path(@busniess.id) %>
