<h1 class="alert alert-dark" ><%= @busniess.name %></h1>

<%= form_tag busniess_invite_path(@busniess.id), :class => 'form-signin' do %>
  <% if flash[:invite_result] %>
    <div class="alert alert-danger">
      <%= flash[:invite_result]%>
    </div>
  <% end %>
  <div class="form-group" >
    <%= email_field_tag :email, nil, :class=>'form-control', :placeholder => 'Email address'  %>
  </div>
  <div class="form-group" >
    <%= label_tag 'as admin' %>
    <%= check_box_tag 'admin_box', :class=>'form-control' %>
    <%= submit_tag "Invite", :class => 'btn btn-lg btn-primary btn-block' %>
  </div>
  <%= link_to 'Back', busniess_path(@busniess.id), :class => 'btn btn-lg btn-primary btn-block' %>
<% end %>
