<%= form_for @report, :url => { :action => :update}, :html => {:class => 'form-signin'}  do |p| %>
  <h1 class="alert alert-dark text-center"  >Edit Report</h1>
  <div class="form-group" >
    <%= p.label :date %>
    <%= p.date_field :date%>
  </div>

  <div class="form-group" >
    <%= p.label :sales %>
    <%= p.number_field :sales, :step => 0.01 %>
  </div>

  <div class="form-group" >
    <%= p.label :expenses%>
    <%= p.number_field :expenses, :step => 0.01 %>
  </div>

  <div class="form-group" >
    <%= p.label :comments %>
    <%= p.text_field :comments %>
  </div>

  <%= p.submit 'Update' , :class => 'btn btn-primary' %>
  <%= link_to 'Back', busniess_path(@current_busniess.id), :class => 'btn btn-primary' %>
<% end %>
